<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/sobre.css' %}">
    <link rel="stylesheet" href="{% static '/css/form_oferta.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static '/js/main.js' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <title>{%block 'title' %}{%endblock%}</title>
</head>
<script src="{% static '/js/main.js' %}"></script>
<body>
    <header class="nav_bar_base">
        <nav>
            <div class="logo_fabian">
                <div class="img_logo_fabian">
                    <a href="{% url 'home'%}"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQH8PJsVq3GQWg/profile-displayphoto-shrink_200_200/0/1653143707218?e=1661385600&v=beta&t=nNn7hITU_ksWwz7ZdLz-BsWVQ1htUC9qtzKnAI3gh4Q" alt=""></a>
                </div>
                <a href="{% url 'home'%}"><h2>Fabian Batista da Silva</h2></a>
            </div>
            <div class="opc_nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'sobre' %}">Sobre</a>
                <a href="{% url 'oferta' %}">Enviar Oferta</a>
            </div>
            <div class="burger_op">
                <details class="burger_detls">
                    <summary class="icons_burges"><i class="fa-solid fa-bars"></i></summary>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'sobre' %}">Sobre</a>
                    <a href="{% url 'oferta' %}">Enviar Oferta</a>
                </details>
            </div>
        </nav>
    </header>
    <main class='cont_base'>
        {%block 'sections' %}
        {%endblock%}
        <chat-bot platform_id="95496fb5-a94e-473f-82ee-0540cdb2d2ab" user_id="7524c3e3-9978-4958-992b-150fdc35d8dd" chatbot_id="f6b3bffa-c83e-4962-b994-fb326ceb24ef"></chat-bot><script src="https://chatsimple-widget.s3.us-east-2.amazonaws.com/chat-bot-loader.js" defer></script>
    </main>
    <footer>

    </footer>
</body>
</html>